@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Open Sans Bold', sans-serif;
    src: url("OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: 'Alegreya', serif;
    src: url("Alegreya-Regular.ttf");
}

@font-face {
    font-family: 'Alegreya Italic', serif;
    src: url("Alegreya-Italic.ttf");
}

@font-face {
    font-family: 'Alegreya Bold', serif;
    src: url("Alegreya-Bold.ttf");
}

@media (min-width: 600px) {
    .mainMars {
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;
        text-justify: inter-word;
    }

    /* For desktop: */
    header ul li {
        display: inline;
        padding: 0 0 0 30px;
    }

    .ulCircle li {
        display: inherit;
    }

    body .imgTitulo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }

    .divIndex {
        width: 30%;
        display: inline-grid;
    }

    .templateColumns {
        flex-direction: column-reverse;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-auto-flow: dense;
    }

    .templateGridCF {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 30% 30% 30%;
    }

    .templateGridCF .f1 {
        height: 100%;
    }

    .grey {
        height: 95%;
    }

    .templateColumns div:nth-of-type(1) {
        order: 2;
    }

    .templateColumns div:nth-of-type(2) {
        order: 1;
    }
}

html {
    /*font-family: "sin serifa", Helvetica, Arial, sans-serif;*/
    font-family: "Alegreya", serif;
}

ul {
    list-style-type: none;
}

.ulSquare {
    list-style-type: square;
    font-size: 1.4rem;
    line-height: 150%;
}

.ulCircle {
    list-style-type: none;
    font-size: 1.4rem;
    line-height: 150%;
    padding-left: 0;
    display: grid;
}

.imgTitulo {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    /*margin-right: 50px;*/
    /*margin-left: 50px;*/
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.centrar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuPrincipal {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuPrincipal:hover {
    color: rgb(189, 55, 0);
}

.section1 {
    background-image: url("../img/bg-hero-mars.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    background-position: right bottom;
    height: 400px;

}

.m0 {
    margin: 0;
}

.fondoNegro {
    background-color: black;
}

.textSeccion1 {
    margin-top: 50px;
    margin-left: 20px;
}

.textSeccion1 h1 {
    font-size: 3.5rem;
    font-weight: 800;
    padding-top: 50px;
    margin-bottom: 0;
}

.textSeccion1 h2 {
    /*margin-top: 0;*/
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
}

footer {
    /*position: relative;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*height: 150px;*/
    /*width: 100%;*/
    /*font-size: 0.75rem;*/
    /*display: table;*/
    background-color: black;
    padding-top: 50px;
    margin-top: 250px;

}

.white {
    color: rgb(255, 255, 255);
}

footer {
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
}

.figcaptionFooter {

    margin-top: 10px;
    font-size: 1.2rem;
}

.emailSub {
    padding-bottom: 10px;
    margin-left: 5%;
    width: 90%;
    background-color: inherit;
    outline: 0;
    border-width: 0 0 2px;
    text-align: center;
}

::placeholder {
    padding-bottom: 10px;
    font-size: 1.15rem;
}

label {
    font-size: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.size15 {
    font-size: 1.5rem;
}

.size2 {
    font-size: 2rem;
    font-weight: 200;
}

.size3 {
    font-size: 3rem;
    font-weight: 700;
}

.m-b {
    margin-bottom: 50px;
}

.m-t5 {
    margin-top: 50px;
}

.m-t10 {
    margin-top: 100px;
}

.m-t2 {
    margin-top: 20px;
}

.m-r15 {
    margin-right: 15px;
}

.m-l15 {
    margin-left: 15px;
}

.check {
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.submit {
    margin: 5px;
    padding: 12px;
    font-size: 1.25rem;
}

.urlSinEstilo {
    text-decoration: none;
}

.urlSinEstilo:hover {
    text-decoration: none;
    color: rgb(189, 55, 0);
}

.pie {
    font-size: 0.9rem;
}

/*INDEX*/
.enlaceIndex {
    color: rgb(189, 55, 0);
    text-decoration: none;
}

.enlaceIndex:hover {
    color: rgb(0, 0, 0);
}

.captionIndex {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: bold;
}

.imgIndex {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0;
}

.pIndex {
    font-size: 1.4rem;
    line-height: 150%;
}

.centrarImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*MARS 2020*/
.marcado {
    text-decoration: underline;
}

.containerIframe {
    margin-bottom: 120px;
    position: relative;
    /*width: 100%;*/
    height: 0;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.videoYT {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.figcaptionYT {
    font-size: 1.2rem;
}

.negrita {
    font-family: 'Alegreya Bold', serif;
    font-weight: bold;
}

.caps {
    text-transform: uppercase;
}

/*CIENCIA FICCION*/
.grey {
    background-color: lightgray;
}


.mp0 {
    margin: 0 0 0 0;
    padding: 0 0 15px 10px;
}

.pcf {
    font-family: 'Alegreya Italic', serif;
    font-size: 1.3rem;
    font-style: italic;
}

hr {
    width: 5%;
    border: 3px solid rgb(189, 55, 0);
    border-radius: 0px;
    display: inline-block;
}

.cuadrado {
    background-color: rgb(189, 55, 0);
    width: 25px;
    height: 6px;
    margin-top: 20px;
}

.cita {
    display: inline-flex;
}


.foto1 {
    width: 100%;
    height: 600px;
    background-image: url("../img/ray-bradbury.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.foto2 {
    width: 100%;
    height: 600px;
    background-image: url("../img/kim-stanley-robinson.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.foto3 {
    width: 100%;
    height: 600px;
    background-image: url("../img/arthur-c-clarke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.foto4 {
    width: 100%;
    height: 600px;
    background-image: url("../img/philip-k-dick.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.foto5 {
    width: 100%;
    height: 600px;
    background-image: url("../img/h-g-wells.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.foto6 {
    width: 100%;
    height: 600px;
    background-image: url("../img/edgar-rice-burroughs.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}


.iframeGrey {
    background-color: lightgrey;
    padding: 15px;
    margin: 0;
}

.figureIndex {
    max-height: 22px;
}

